html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div{
  display: flex;
  flex-direction: column;

}

input {
  height: 42px;
  font-size: 15px;
  margin: 1px 0;
  box-sizing: border-box;
  padding: 2px 5px;
}

.row{
  flex-direction: row;
  justify-content: space-between;
}

#main {
  width: 100%;
  height: 100%;
}

.ui {
  position: absolute;
  font-size: 20px;
}

.score {
  top: 8px;
  left: 8px;
}

.detect {
  top: 8px;
  right: 8px;
}

.lobby {
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  align-self: center;
  width: fit-content;
}

.time {
  top: 8px;
  left: 45%;
}

.bt {
  padding: 10px 20px;
  font-size: 16px;
  margin: 1px 0;

  cursor: pointer;
}

.border{
border: 1px solid lightgrey;
}

.no-border{
  border: none;
}

.cursor{
  cursor: pointer;
}

#lb-mutil {
  font-size: 55px;
  color: dodgerblue;
}

.wrap{
  border: '1px solid lightgray';
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}

.bg-blur{
  background-color: rgba(32, 32, 32, 0.7);
}

.login {
  background-color: rgb(64, 140, 255);
}

.signup{
  border: none;
  background-color: transparent;
  color: black;
}

.signup:hover{
  color: rgb(64, 140, 255);
}