


html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root:fullscreen{
  background-color: white;
}

div{
  display: flex;
  flex-direction: column;

}

input {
  height: 42px;
  font-size: 15px;
  margin: 1px 0;
  box-sizing: border-box;
  padding: 2px 5px;
}

.row{
  flex-direction: row;
  justify-content: space-between;
}

#main {
  width: 100%;
  height: 100%;
}

.ui {
  position: absolute;
  font-size: 20px;
}

.wave{
  top: 36px;
  align-self: center;
}

.time {
  top: 8px;
  align-self: center;
}

.score {
  top: 8px;
  left: 8px;

  /* color: rgb(0, 192, 0); */
}

.score-p2{
  top: 8px;
  right: 8px;

}

.--score{
  justify-content: normal;
  align-items: baseline;
  /* color: dodgerblue; */
 color: red;
 font-style: oblique;
 font-family: "rocksalt";
}

.detect {
  bottom: 8px;
  right: 8px;
}

.fps{
  bottom: 8px;
  left: 8px;
}

.shop{
  bottom: 100px;
  left: 8px;
}

#progress{
  background-color: rgb(29, 89, 255);
}

.lobby {
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  align-self: center;
  width: fit-content;
}

.popup{
  bottom: 50%;
}

.bt {
  padding: 12px 20px;
  font-size: 16px;
  margin: 1px 0;

  cursor: pointer;
}

.bt:active{
  color: dodgerblue;
  transition: 1s;

}

.border{
border: 1px solid lightgrey;
}

.no-border{
  border: none;
}

.cursor{
  cursor: pointer;
}

#lb-mutil {
  font-size: 55px;
}

.wrap{
  border: '1px solid lightgray';
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}

.bg-blur{
  background-color: rgba(32, 32, 32, 0.7);
}

.bt-customer-login {
  background-color: rgb(124, 124, 124);
  color: white;
}

.bt-fb-login{
  background-color: rgb(64, 140, 255);
  color: white;
}

.loading-blur{
  animation: loading-blur 2s;
  animation-iteration-count: infinite;
  text-shadow: '0 0 white'
}

.tab-header{
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.tab-header.active{
  padding-bottom: 5px;
  border-bottom: 2px solid rgb(0, 195, 255);
}

.signup{
  border: none;
  background-color: transparent;
  color: black;
}

#close-shop{
  width:0px;
  height: 100px;
  /* animation-name: closeshop;
  animation-duration: 1s; */
  transition: 1s;
  overflow: hidden;
}

 #open-shop{
  width: 300px; 
  height: 250px;
  transition: 2s;
  overflow-x: scroll;
  overflow-y: hidden;
}

@keyframes loading-blur {
  0%{
    color: white;
  }
  100%{
    color: transparent;
  }
}